/* propertydetailsPage.module.css */

.listContainer{
    display: flex;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 32px;
    flex-wrap: wrap;
    }

    
.mainContainer{
    display: flex;
    flex-direction: column;
    gap:24px;
    justify-content: center;
    align-items: center;
}
    
.property-details-container {
    display: flex;
    flex-direction: row; /* Ensure horizontal layout */
    align-items: center; /* Vertically center align */
    padding: 20px; /* Add padding for spacing around the content */
  }
  
  .property-details-image {
    flex: 1; /* Take up 1/2 of the available space */
    padding-right: 20px; /* Add right padding for spacing between image and details */
  }
  
  .property-details-image img {
    width: 100%; /* Make the image take full width of its container */
  }
  
  .property-details-content {
    flex: 1; /* Take up 1/2 of the available space */
    padding-left: 20px; /* Add left padding for spacing between details and description */
    font-family: Arial, sans-serif; /* Specify a font family */
  }
  
  .property-details-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .property-details-content .price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .property-details-content p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .property-details-content .location {
    margin-top: 20px;
  }
  
  .property-details-content .description {
    font-size: 14px;
    line-height: 1.4;
  }
  
 